body {
    margin:0;
    padding:0;
    font-family: 'Nunito', sans-serif;
}

button,
input {
    font-family: inherit;
}

h1 {
    text-align: center;
    background-color: #242424;
    color: #fff;
    padding: 1em 0;
    margin: 0;
}

.content {
    display: flex;
}

input,
select,
button {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: none;
}

.add-project,
.add-task {
    background: #a5fc79;
    cursor: pointer;
}

.cancel-project, 
.cancel-task {
    background: #f7abab;
    cursor: pointer;
}

.add-project:hover,
.add-project:focus,
.add-task:hover,
.add-task:focus,
.cancel-project:hover,
.cancel-project:focus,
.cancel-task:hover,
.cancel-task:focus {
    opacity: 0.6;
}

.open-project-form,
.open-task-form {
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.open-project-form:hover,
.open-project-form:focus,
.open-task-form:hover,
.open-task-form:focus {
    opacity: 0.8;
    color: #fff;
    background: #242424;
}

/* project bar */

.projects-bar {
    background-color: #acafa8;
    width: 45%;
    padding: 0.5em 1em;
    height: 85vh;
}

.projects-bar h2 {
    border-bottom: 1px solid #242424;
}

.open-project-form {
    background-color: #fff;
    font-weight: bold;
}

.project {
    width: 80%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: lightskyblue;
    color: #fff;
    margin-bottom: 1em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-family: inherit;
}

.project:hover,
.project:focus {
    opacity: 0.8;
}

.project span {
    cursor: pointer;
}

.project-form {
    display: none;
}

#project-name,
#project-description {
    margin-bottom: 0.6em;
}

.name {
    overflow: auto;
    width: 250px;
}

/* task bar */

.tasks-bar {
    background-color: gainsboro;
    padding: 0.5em 1em;
    width: 100%;
    height: 85vh;
}

.task-form,
.project-name,
.project-description,
.open-task-form {
    display: none;
}

#task-date {
    margin-right: 2em;
}

.task-content h3 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.task-content p {
    margin-top: 0;
    padding-top: 0;
    border-bottom: 1px solid #acafa8;
}

.tasks-list {
    list-style: none;
}

.task {
    background: #fff;
    margin-bottom: 0.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5em;
    padding: 0.1em 1em;
}

.task-name-span {
    width: 200px;
    overflow: auto;
    padding: 0;
}

.task-priority-span {
    width: 125px;
}

.complete {
    border: 1px solid #242424;
    border-radius: 50%;
    padding: 0.5em 0.7em;
    cursor: pointer;
}

.edit-task,
.delete-task {
    cursor: pointer;
}